<template name="round">
    <div>
        <div class="unit one-fifth"><b>{{Name}}</b></div>
        <div class="unit one-fifth">{{handCount}}</div>
        {{#if show}}
            <div class="unit one-fifth">{{#with hands}}{{> handsDisplay}}{{/with}}</div>
            <div class="unit one-fifth">{{average}}</div>
        {{else}}
        <div class="unit one-fifth">{{#each hands}}X{{/each}}</div>
        <div class="unit one-fifth"> Hidden</div>
        {{/if}}
        
        <div class="unit one-fifth"><button class="toggle" id="{{_id}}">Show/Hide</button></div>
    </div>
</template>