<template name="round">
    <tr class="{{currentRoundRowClass}}">
        <td><b>{{Name}}</b></td>
        <td>{{handCount}}</td>
        {{#if show}}
        <td>{{#with hands}}{{> handsDisplay}}{{/with}}</td>
        <td><div class="mini-card">{{average}}</div></td>
        {{else}}
        <td>
            {{#each hands}}
            <div class="mini-card hidden"></div>
            {{/each}}
        </td>
        <td><div class="mini-card hidden"></div></td>
        {{/if}}

        <td><button class="toggle" id="{{_id}}">Show/Hide</button></td>
    </tr>
</template>