<template name="rounds">
    {{#if session}}
    <div class="rounds grid">
        <div>
            <div>
                <div class="unit one-fifth"><b>Round</b></div>
                <div class="unit one-fifth"><b>Hands Played</b></div>
                <div class="unit one-fifth"><b>Hands</b></div>
                <div class="unit one-fifth"><b>Average Hand</b></div>
                <div class="unit one-fifth"><b>Show/Hide</b></div>
            </div>
            {{#each rounds}}
            {{> round}}
            {{/each}}
        </div>
    </div>
    {{else}}
    <h4>No session selected</h4>
    {{/if}}
</template>