<template name="rounds">
    {{#if session}}
    <div class="rounds">
        <table>
            <tr>
                <th>Round</th>
                <th>Hands Played</th>
                <th>Average Hand</th>
                <th>Show/Hide</th>
            </tr>
            {{#each rounds}}
            <tr>
                <td><b>{{Name}}</b></td>
                <td>{{#with _id}}{{> handsDisplay}}{{/with}}</td>
                <td>TODO</td>
                <td>TODO</td>
            </tr>
            {{/each}}
        </table>
    </div>
    {{else}}
    <h4>No session selected</h4>
    {{/if}}
</template>